h2
    | Sign Up
    form(action = "/create", method = "post",enctype='multipart/form-data')
        | Firstname :
        input(type="text", name="firstname", id="firstname")
        br
        | Lastname :
        input(type="text", name="lastname", id="lastname")
        br
        | Email :
        input(type="text", name="email", id="email")
        br
        | Password :
        input(type="password", name="password", id="password")
        br
        | Phone no. :
        input(type="text", name="phone", id="phone")
        br
        | User image :
        input(type='file', name='user_image')
        br
        | Device type :
        input(type='text', name='device_type')
        br
        | Device token :
        input(type='text', name='device_token')
        br
        | Latitude :
        input(type='text', name='latitude')
        br
        | Longitude :
        input(type='text', name='longitude')
        br
        input(type="submit", value="Register")

h2
    | Login
    form(method='POST', action='/login')
        | Username :
        input(type='text', name='user')
        br
        | Password :
        input(type='password', name='pass')
        br
        | Device token :
        input(type='text', name='device_token')
        br
        | Device type :
        input(type='text', name='device_type')
        br
        input(type='submit', name='login', value='Login')
h2
    | Access_token_login
    form(action='/access_token_login', method='post')
        | Access token :
        input(type='text', name='access_token')
        br
        input(type='submit', value='Login')

h2
    | Logout
    form(method='POST', action='/logout')
        | Access token :
        input(type='text', name='access_token')
        br
        input(type='submit', name='logout', value='Logout')

h2
    | Edit_profile
    form(action='/edit_profile', method='post', enctype='multipart/form-data')
        | First name :
        input(type='text', name='Fname')
        br
        | Last name :
        input(type='text', name='Lname')
        br
        | Email :
        input(type='text', name='email')
        br
        | Phone no :
        input(type='text', name='phone')
        br
        | Access_token :
        input(type='text', name='access_token')
        br
        | Image :
        input(type='file', name='user_image')
        br
        input(type='submit', value='Confirm')

h2
    | Forgot Password
    form(method='POST', action='/forgot')
        | Email :
        input(type='text', name='email')
        br
        input(type='submit', name='resetPass', value='Confirm')
h2
    | Reset Password
    form(method='POST', action='/reset')
        | One Time Link :
        input(type='text', name='link')
        br
        | New Password :
        input(type='password', name='pass')
        br
        input(type='submit', name='confirm', value='Reset')
h2
    | Change_password
    form(action='/change_password', method='post')
        | Access token :
        input(type='text', name='access_token')
        br
        | Old password :
        input(type='text', name='old_password')
        br
        | New Password :
        input(type='text', name='new_password')
        br
        input(type='submit', value='Change')

h2
    | Request Driver
    form(method='POST', action='/request_driver')
        | Latitude :
        input(type='text', name='latitude')
        br
        | Longitude :
        input(type='text', name='longitude')
        br
        | Radius :
        input(type='text', name='radius')
        br
        | Email :
        input(type='text', name='email')
        br
        input(type='submit', name='confirm', value='Confirm')

h2
    | Search Drivers
    form(method='POST', action='/search_drivers')
        | Latitude :
        input(type='text', name='latitude')
        br
        | Longitude :
        input(type='text', name='longitude')
        br
        | Radius :
        input(type='text', name='radius')
        br
        input(type='submit', name='confirm', value='Search')

h2
    | Driver Sign Up
    form(action = "/driver_create", method = "post",enctype='multipart/form-data')
        | Firstname :
        input(type="text", name="firstname", id="firstname")
        br
        | Lastname :
        input(type="text", name="lastname", id="lastname")
        br
        | Email :
        input(type="text", name="email", id="email")
        br
        | Password :
        input(type="password", name="password", id="password")
        br
        | Phone no. :
        input(type="text", name="phone", id="phone")
        br
        | User image :
        input(type='file', name='user_image')
        br
        | Device type :
        input(type='text', name='device_type')
        br
        | Device token :
        input(type='text', name='device_token')
        br
        | Latitude :
        input(type='text', name='latitude')
        br
        | Longitude :
        input(type='text', name='longitude')
        br
        input(type="submit", value="Register")

h2
    | Driver Login
    form(method='POST', action='/driver_login')
        | Username :
        input(type='text', name='user')
        br
        | Password :
        input(type='password', name='pass')
        br
        | Device token :
        input(type='text', name='device_token')
        br
        | Device type :
        input(type='text', name='device_type')
        br
        input(type='submit', name='login', value='Login')
h2
    | Driver Access_token_login
    form(action='/driver_access_token_login', method='post')
        | Access token :
        input(type='text', name='access_token')
        br
        input(type='submit', value='Login')
h2
    | Driver Logout
    form(method='POST', action='/driver_logout')
        | Access token :
        input(type='text', name='access_token')
        br
        input(type='submit', name='logout', value='Logout')

h2
    | Driver Edit_profile
    form(action='/driver_edit_profile', method='post', enctype='multipart/form-data')
        | First name :
        input(type='text', name='Fname')
        br
        | Last name :
        input(type='text', name='Lname')
        br
        | Email :
        input(type='text', name='email')
        br
        | Phone no :
        input(type='text', name='phone')
        br
        | Access_token :
        input(type='text', name='access_token')
        br
        | Image :
        input(type='file', name='user_image')
        br
        input(type='submit', value='Confirm')


h2
    | Driver Forgot Password
    form(method='POST', action='/driver_forgot')
        | Email :
        input(type='text', name='email')
        br
        input(type='submit', name='resetPass', value='Confirm')
h2
    | Driver Reset Password
    form(method='POST', action='/driver_reset')
        | One Time Link :
        input(type='text', name='link')
        br
        | New Password :
        input(type='password', name='pass')
        br
        input(type='submit', name='confirm', value='Reset')
h2
    | Driver Change_password
    form(action='/driver_change_password', method='post')
        | Access token :
        input(type='text', name='access_token')
        br
        | Old password :
        input(type='text', name='old_password')
        br
        | New Password :
        input(type='text', name='new_password')
        br
        input(type='submit', value='Change')
h2
    | Accept Order
    form(method='POST', action='/accept_order')
        | email :
        input(type='text', name='email')
        br
        | order_id :
        input(type='text', name='order_id')
        br
        input(type='submit', name='confirm', value='Accept order')

h2
    | Start Service
    form(action='/start_service', method='post')
        | Access token :
        input(type='text', name='access_token')
        br
        | Order id :
        input(type='text', name='order_id')
        br
        | Latitude :
        input(type='text', name='latitude')
        br
        | Longitude :
        input(type='text', name='longitude')
        br
        input(type='submit', value='submit')

h2
    | End Service
    form(action='/end_service', method='post')
        | Access token :
        input(type='text', name='access_token')
        br
        | Order id :
        input(type='text', name='order_id')
        br
        | Latitude :
        input(type='text', name='latitude')
        br
        | Longitude :
        input(type='text', name='longitude')
        br
        input(type='submit', value='submit')
